/* You can add global styles to this file, and also import other style files */
@import "assets/bootstrap-sass/variables";
@import '../node_modules/bootstrap-sass/assets/stylesheets/_bootstrap';

// colors
$blue:              #094662;
$green:             #9FDA3F;
$white:             #E7E7EF;

body {
    background: $blue;
    color: $green;
}
