.modal {
    background: rgba(0,0,0,0.6);

    .modal-dialog {
        width: fit-content;
    }
}

.modal > div {
     
    position: relative;
    margin: 5% auto;
    background: -moz-linear-gradient(#fff, #999);
    background: -webkit-linear-gradient(#fff, #999);
    background: -o-linear-gradient(#fff, #999);
}
