.modal {
    background: rgba(0,0,0,0.6);
}

.modal > div {
     
    position: relative;
    margin: 10% auto;
    background: -moz-linear-gradient(#fff, #999);
    background: -webkit-linear-gradient(#fff, #999);
    background: -o-linear-gradient(#fff, #999);
}
